body {
    margin: 0;
    padding: 0;
}
.home-nav {
    position: fixed;
    height: 70%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.home-div {
    font-size: 2em;
    font-weight: 1000;
    text-align: center;
    width: 100%;
}
.home-div a {
    display: inline-block;
    color: #00CED1;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 20px;
}
.home-search-items form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 8px;
}
.home-search-items form input{
    border: 1px solid #00CED1;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 5px;
}
.home-search-items form button{
    cursor: pointer;
    background-color: #00CED1;
    border: none;
    padding: 10px;
    margin: 10px;
}
.home-search-items form button:hover{
    box-shadow: 0 0 2px #00CED1;
}

.foot {
    width: 100%;
    position: fixed;
    bottom: 0px;
    right: 0;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
}
.foot span{
    cursor: pointer;
    font-size: 1.5em;
    margin-left: 10px;
}