body {
    margin: 0;
    padding: 0;
}
.hidden {
    visibility: hidden;
}
.home-nav {
    position: fixed;
    height: 70%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.home-nav .home-div {
    font-size: 2em;
    font-weight: 1000;
    text-align: center;
    width: 100%;
}
.home-div a {
    display: inline-block;
    color: #00CED1;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 20px;
}
.home-search-items form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 8px;
}
.home-search-items form input{
    border: 1px solid #00CED1;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 5px;
    font-size: 0.95em;
}
.home-search-items form button{
    cursor: pointer;
    background-color: #00CED1;
    border: none;
    padding: 10px;
    margin: 10px;
}
.home-search-items form button:hover{
    box-shadow: 0 0 2px #00CED1;
}
.foot {
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #00000040;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
    z-index: 10;
}
.foot span{
    cursor: pointer;
    font-size: 1.5em;
    margin-left: 10px;
}

/* Search Result */
.main-search-nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.main-search-nav .home-div{
    width: 100%;
    text-align: center;
}
.main-search-nav .home-div a{
    font-size: 1.5em;
    margin: 0;
}
.main-search-nav .home-search-items {
    padding: 10px;
    width: 560px;
    box-sizing: border-box;
}
.main-search-nav .home-search-items form {
    display: flex;
    flex-wrap: nowrap;
}
.main-search-nav .home-search-items form input{
    padding: 8px;
}
.main-search-nav .home-search-items button {
    margin: 0;
    margin-right: 5px;
}
.search-container {
    width: 95%;
    margin: auto auto;
}
.result-status {
    max-width: 760px;
    margin: 10px auto;
    border: 1px solid #eee;
    color: #555;
    padding: 10px;
    text-align: center;
}
.search-result {
    max-width: 1300px;
    margin: 30px 0 35px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.search-container .each-card {
    width: 200px;
    display: inline-block;
    color: #000;
    text-decoration: none;
    margin: 5px;
    vertical-align: middle;
    border: 1px solid #ddd;
    cursor: pointer;
}
.search-container .each-card:hover {
    box-shadow: -1px 5px 15px 0px #999;
}
.search-container .each-card:empty {
    visibility: hidden;
}
.search-container .each-card .name{
    font-weight: 600;
    height: fit-content;
}
.search-container .each-card .name, .search-container .each-card .roll{
    padding: 3px;
    box-sizing: border-box;
}
.search-container .back-img {
    background-color: #00CED1;
    background-size: cover;
    width: 200px;
    height: 230px;
    position: relative;
    margin-right: 5px;
}
.search-container .more-div {
    width: 100%;
    display: flex;
    justify-content: center;
}
.search-container #more {
    color: #000;
    text-decoration: none;
    display: inline-block;
    padding: 20px 30px;
    border: 1px solid #000;
    margin: 0px 0px 40px 0px;
    background-color: #fff;
    cursor: pointer;
    font-size: 0.95em;
    font-family: sans-serif;
}
.search-container #more:hover {
    border-radius: 20px;
}

/* Visit tmp */
.profile-container {
    max-width: 560px;
    padding: 0 10px;
    margin: 20px auto;
    box-sizing: border-box;
}
.profile-container>div {
    text-align: center;
    padding: 10px 0;
    box-shadow: 0px 0px 24px 0px #ccc;
    border-radius: 50px;
    position: relative;
}
.profile-container .name, .visit-container .name {
    padding: 10px 0;
    font-weight: 600;
    font-size: 1.2em;
    font-family: sans-serif;
}
.profile-container .image, .visit-container .image {
    padding: 10px;
}
.profile-container .image img, .visit-container .image img {
    max-width: 100%;
}
.profile-container .roll, .profile-container .popular, .visit-container .roll, .visit-container .popular { 
    font-size: 1.2em;
    padding: 3px;
}
.next-prev-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
.next-prev-div #next, .next-prev-div #prev {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    font-size: 2.5em;
    background-color: transparent;
    display: inline-block;
    padding: 0;
    padding: 0 10px;
    font-family: 'Times New Roman', Times, serif;
    border: 0;
    background-color: #00000020;
}
.next-prev-div #prev::before{
    content: '\003c';
}
.next-prev-div #next::before{
    content: '\003e';
}
.next-prev-div #prev:hover, .next-prev-div #next:hover {
    background-color: #00000030;
}

/* Popup */
.popup-main {
    background-color: #00000090;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transform: scale(0);
    transition: transform 0.3s linear;
}
.pop-between {
    max-width: 560px;
    padding: 0 10px;
    box-sizing: border-box;
    position: relative;
    height: 500px;
    text-align: center;
}
.visit-container {
    background-color: #fff;
    padding: 5px 0;
    border-radius: 50px;
    box-shadow: 0px 0px 10px 0px #fff;
    position: relative;
}
#pop-close {
    background-color: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2.5em;
    padding: 0;
    width: 1em;
    height: 1em;
    line-height: 1em;
    text-align: center;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
}
#pop-close:hover {
    background-color: #eee;
}