body {
    margin: 0;
    padding: 0;
}
.home-nav {
    position: fixed;
    height: 70%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.home-nav .home-div {
    font-size: 2em;
    font-weight: 1000;
    text-align: center;
    width: 100%;
}
.home-div a {
    display: inline-block;
    color: #00CED1;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 20px;
}
.home-search-items form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 8px;
}
.home-search-items form input{
    border: 1px solid #00CED1;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 5px;
    font-size: 0.95em;
}
.home-search-items form button{
    cursor: pointer;
    background-color: #00CED1;
    border: none;
    padding: 10px;
    margin: 10px;
}
.home-search-items form button:hover{
    box-shadow: 0 0 2px #00CED1;
}
.foot {
    width: 100%;
    position: fixed;
    bottom: 0px;
    right: 0;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
}
.foot span{
    cursor: pointer;
    font-size: 1.5em;
    margin-left: 10px;
}

/* Search Result */
.main-search-nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.main-search-nav .home-div{
    width: 100%;
    text-align: center;
}
.main-search-nav .home-div a{
    font-size: 1.5em;
    margin: 0;
}
.main-search-nav .home-search-items {
    padding: 10px;
    width: 560px;
    box-sizing: border-box;
}
.main-search-nav .home-search-items form {
    display: flex;
    flex-wrap: nowrap;
}
.main-search-nav .home-search-items form input{
    padding: 8px;
}
.main-search-nav .home-search-items button {
    margin: 0;
    margin-right: 5px;
}
.search-container {
    width: 95%;
    margin: auto auto;
}
.result-status {
    max-width: 760px;
    margin: 10px auto;
    border: 1px solid #eee;
    color: #555;
    padding: 10px;
    text-align: center;
}
.search-result {
    max-width: 1300px;
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.search-container .each-card {
    width: 200px;
    display: inline-block;
    color: #000;
    text-decoration: none;
    margin: 5px;
    vertical-align: middle;
    border: 1px solid #ddd;
}
.search-container .each-card:hover {
    box-shadow: -1px 5px 15px 0px #999;
}
.search-container .each-card:empty {
    visibility: hidden;
}
.search-container .each-card .name{
    font-weight: 600;
    height: fit-content;
}
.search-container .each-card .name, .search-container .each-card .roll{
    padding: 3px;
    box-sizing: border-box;
}
.search-container .back-img {
    background-color: #00CED1;
    background-size: cover;
    width: 200px;
    height: 230px;
    position: relative;
    margin-right: 5px;
}